/**
 * Custom theme from Timber.io (http://timber.io)
 */

 .hljs {
   display: block;
   overflow-x: auto;
   padding: 0.5em;
   color: #383a42;
   background: #F9F9F9;
   font-family: Menlo, Monaco, "Courier New", monospace;
   font-size: 14.5px;
   line-height: 1.4;
 }

 .hljs-comment,
 .hljs-quote {
   color: #999999;
   font-style: italic;
 }

 .hljs-doctag,
 .hljs-keyword,
 .hljs-formula {
   color: #069;
 }

 .hljs-section,
 .hljs-name,
 .hljs-selector-tag,
 .hljs-deletion,
 .hljs-subst {
   color: #e45649;
 }

 .hljs-literal {
   color: #0184bb;
 }

 .hljs-string,
 .hljs-regexp,
 .hljs-addition,
 .hljs-attribute,
 .hljs-meta-string {
   color: #CA3818;
 }

 .hljs-built_in,
 .hljs-class .hljs-title {
   color: #078;
 }

 .hljs-attr,
 .hljs-variable,
 .hljs-template-variable,
 .hljs-type,
 .hljs-selector-class,
 .hljs-selector-attr,
 .hljs-selector-pseudo {
   color: #3EA988;
 }

 .hljs-number {
   color: #FF6600;
 }

 .hljs-symbol,
 .hljs-bullet,
 .hljs-link,
 .hljs-meta,
 .hljs-selector-id,
 .hljs-title {
   color: #4078f2;
 }

 .hljs-emphasis {
   font-style: italic;
 }

 .hljs-strong {
   font-weight: bold;
 }

 .hljs-link {
   text-decoration: underline;
 }
